<%
  title "Free Financial Tools and Calculators"
  description "Try out our financial tools and calculators to help you visualize and understand your financial journey."
%>
<div class="max-w-[1100px] mx-auto text-center">
  <div class="w-full mx-auto max-w-[35rem]">
    <div class="gap-x-2 mb-6 text-center">
      <h1 class="text-6xl text-gray-800 leading-[calc(4rem+8px)] font-medium mb-2 tracking-[-0.02em]">Free financial tools and calculators</h1>
      <p class="text-xl leading-[1.4] text-gray-400">Tools and calculators we've built to help you visualize and navigate your financial journey.</p>
    </div>
    <div class="flex flex-wrap justify-center mx-auto whitespace-nowrap gap-2 py-2 mb-6">
      <%= link_to tools_path,
        class: "px-4 py-2 rounded-xl text-sm font-medium #{params[:category].nil? ? 'text-gray-900 bg-white border-gray-800 shadow-sm' : 'text-gray-500 hover:bg-gray-100'}",
        data: { turbo_frame: "tools_list" } do %>
        All
      <% end %>
      <% Tool.distinct.pluck(:category_slug).compact.each do |category_slug| %>
        <%= link_to tools_path(category: category_slug),
          class: "px-4 py-2 rounded-xl text-sm font-medium #{params[:category] == category_slug ? 'text-gray-900 bg-white border-gray-800 shadow-sm' : 'text-gray-500 hover:bg-gray-100'}",
          data: { turbo_frame: "tools_list" } do %>
          <%= category_slug.titleize %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="flex flex-col max-w-[840px] mx-auto gap-4 mb-20">
    <%= render @tools %>
  </div>
</div>
