---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/BND/open-close?end_date=<%= Date.yesterday %>&interval=day&limit=100&start_date=<%= Date.yesterday %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44e7a479e91c4978ad996e74d53430e7"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"BND","prices":[{"date":"<%= Date.yesterday %>","open":75.18,"close":75.25,"high":75.36,"low":75.05,"volume":6389170}],"paging":{"prev":"/tickers/BND/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","next":"/tickers/BND/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","total_records":1,"current_page":1,"per_page":100,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":871}}'
  recorded_at: Tue, 24 Sep 2024 15:05:39 GMT
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/SCHZ/open-close?end_date=<%= Date.yesterday %>&interval=day&limit=100&start_date=<%= Date.yesterday %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4437b430fb26f0d4594ac0cfdf7f4fd6"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"SCHZ","prices":[{"date":"<%= Date.yesterday %>","open":47.55,"close":47.6,"high":47.67,"low":47.47,"volume":480923}],"paging":{"prev":"/tickers/SCHZ/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","next":"/tickers/SCHZ/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","total_records":1,"current_page":1,"per_page":100,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":869}}'
  recorded_at: Tue, 24 Sep 2024 15:05:40 GMT
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/SPAB/open-close?end_date=<%= Date.yesterday %>&interval=day&limit=100&start_date=<%= Date.yesterday %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa2683b0c76f896bd6dbfa29c8dac327"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"SPAB","prices":[{"date":"<%= Date.yesterday %>","open":26.18,"close":26.19,"high":26.23,"low":26.12,"volume":1398160}],"paging":{"prev":"/tickers/SPAB/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","next":"/tickers/SPAB/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","total_records":1,"current_page":1,"per_page":100,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":869}}'
  recorded_at: Tue, 24 Sep 2024 15:05:40 GMT
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/AGG/open-close?end_date=<%= Date.yesterday %>&interval=day&limit=100&start_date=<%= Date.yesterday %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e10bd7987894444293c3bd16b1ee96c7"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"AGG","prices":[{"date":"<%= Date.yesterday %>","open":101.34,"close":101.44,"high":101.59,"low":101.19,"volume":7952297}],"paging":{"prev":"/tickers/AGG/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","next":"/tickers/AGG/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","total_records":1,"current_page":1,"per_page":100,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":868}}'
  recorded_at: Tue, 24 Sep 2024 15:05:41 GMT
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/VXUS/open-close?end_date=<%= Date.yesterday %>&interval=day&limit=100&start_date=<%= Date.yesterday %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b5adc1f2e2faa4042a087abfcb3f8e6a"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"VXUS","prices":[{"date":"<%= Date.yesterday %>","open":63.26,"close":63.41,"high":63.49,"low":63.22,"volume":2501945}],"paging":{"prev":"/tickers/VXUS/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","next":"/tickers/VXUS/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","total_records":1,"current_page":1,"per_page":100,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":867}}'
  recorded_at: Tue, 24 Sep 2024 15:05:42 GMT
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/SCHF/open-close?end_date=<%= Date.yesterday %>&interval=day&limit=100&start_date=<%= Date.yesterday %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"19e3a16d7b0c42d1d9de706c8e08eb63"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"SCHF","prices":[{"date":"<%= Date.yesterday %>","open":40.47,"close":40.66,"high":40.7,"low":40.47,"volume":1552795}],"paging":{"prev":"/tickers/SCHF/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","next":"/tickers/SCHF/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","total_records":1,"current_page":1,"per_page":100,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":866}}'
  recorded_at: Tue, 24 Sep 2024 15:05:42 GMT
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/SPDW/open-close?end_date=<%= Date.yesterday %>&interval=day&limit=100&start_date=<%= Date.yesterday %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b9a0b59b4e39206362e6e3d98cf33bd"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"SPDW","prices":[{"date":"<%= Date.yesterday %>","open":37.09,"close":37.13,"high":37.19,"low":37.01,"volume":1045664}],"paging":{"prev":"/tickers/SPDW/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","next":"/tickers/SPDW/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","total_records":1,"current_page":1,"per_page":100,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":865}}'
  recorded_at: Tue, 24 Sep 2024 15:05:43 GMT
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/IXUS/open-close?end_date=<%= Date.yesterday %>&interval=day&limit=100&start_date=<%= Date.yesterday %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d2f275a0e43d6a79a4515e42ded3660"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"IXUS","prices":[{"date":"<%= Date.yesterday %>","open":71.0,"close":71.2,"high":71.28,"low":70.97,"volume":607798}],"paging":{"prev":"/tickers/IXUS/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","next":"/tickers/IXUS/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","total_records":1,"current_page":1,"per_page":100,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":864}}'
  recorded_at: Tue, 24 Sep 2024 15:05:44 GMT
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/SCHB/open-close?end_date=<%= Date.yesterday %>&interval=day&limit=100&start_date=<%= Date.yesterday %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4357c2aceb69bcc1c43aa43cf7b5c450"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"SCHB","prices":[{"date":"<%= Date.yesterday %>","open":66.24,"close":66.26,"high":66.32,"low":66.07,"volume":493150}],"paging":{"prev":"/tickers/SCHB/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","next":"/tickers/SCHB/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","total_records":1,"current_page":1,"per_page":100,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":863}}'
  recorded_at: Tue, 24 Sep 2024 15:05:44 GMT
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/SPTM/open-close?end_date=<%= Date.yesterday %>&interval=day&limit=100&start_date=<%= Date.yesterday %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"de5d732b12bf8d5e7a41d553e4862aae"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"SPTM","prices":[{"date":"<%= Date.yesterday %>","open":69.58,"close":69.57,"high":69.68,"low":69.43,"volume":328585}],"paging":{"prev":"/tickers/SPTM/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","next":"/tickers/SPTM/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","total_records":1,"current_page":1,"per_page":100,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":862}}'
  recorded_at: Tue, 24 Sep 2024 15:05:45 GMT
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/VTI/open-close?end_date=<%= Date.yesterday %>&interval=day&limit=100&start_date=<%= Date.yesterday %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8b7306114cc9ce44ec6439ce2654970a"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"VTI","prices":[{"date":"<%= Date.yesterday %>","open":282.2,"close":282.16,"high":282.56,"low":281.46,"volume":1916684}],"paging":{"prev":"/tickers/VTI/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","next":"/tickers/VTI/open-close?start_date=<%= Date.yesterday %>\u0026end_date=<%= Date.yesterday %>\u0026interval=day\u0026limit=100\u0026page=","total_records":1,"current_page":1,"per_page":100,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":861}}'
  recorded_at: Tue, 24 Sep 2024 15:05:46 GMT
recorded_with: VCR 6.3.1
