---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/AACIU/open-close?end_date=2024-09-29&interval=month&limit=500&start_date=2024-08-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0a4d906b7d82bec092a253d048d3317e"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"AACIU","prices":[],"paging":{"prev":"/tickers/AACIU/open-close?start_date=2024-08-07\u0026end_date=2024-09-29\u0026interval=month\u0026limit=500\u0026page=","next":"/tickers/AACIU/open-close?start_date=2024-08-07\u0026end_date=2024-09-29\u0026interval=month\u0026limit=500\u0026page=","total_records":0,"current_page":1,"per_page":500,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":781}}'
  recorded_at: Wed, 02 Oct 2024 21:40:58 GMT
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/AACIW/open-close?end_date=2024-09-29&interval=month&limit=500&start_date=2024-08-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36d29007d7b57f0d7a68b6075c209cf8"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"AACIW","prices":[],"paging":{"prev":"/tickers/AACIW/open-close?start_date=2024-08-07\u0026end_date=2024-09-29\u0026interval=month\u0026limit=500\u0026page=","next":"/tickers/AACIW/open-close?start_date=2024-08-07\u0026end_date=2024-09-29\u0026interval=month\u0026limit=500\u0026page=","total_records":0,"current_page":1,"per_page":500,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":780}}'
  recorded_at: Wed, 02 Oct 2024 21:40:59 GMT
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/IXUS/open-close?end_date=2024-09-29&interval=month&limit=500&start_date=2024-08-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c9b9d1be69856e8992df3aa46ed71933"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"IXUS","prices":[{"date":"2024-09-01","open":70.44,"close":72.63,"high":73.53,"low":67.95,"volume":19366823}],"paging":{"prev":"/tickers/IXUS/open-close?start_date=2024-08-07\u0026end_date=2024-09-29\u0026interval=month\u0026limit=500\u0026page=","next":"/tickers/IXUS/open-close?start_date=2024-08-07\u0026end_date=2024-09-29\u0026interval=month\u0026limit=500\u0026page=","total_records":1,"current_page":1,"per_page":500,"total_pages":1},"meta":{"credits_used":1,"credits_remaining":779}}'
  recorded_at: Wed, 02 Oct 2024 21:40:59 GMT
recorded_with: VCR 6.3.1
