---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/IXUS/open-close?end_date=2024-09-29&interval=month&limit=500&start_date=2020-01-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"663511c2d9f7bf6a90ef822920b5078a"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"IXUS","prices":[{"date":"2020-02-01","open":59.97,"close":55.74,"high":62.16,"low":54.29,"volume":29958449},{"date":"2020-03-01","open":55.78,"close":47.01,"high":57.64,"low":40.35,"volume":90828703},{"date":"2020-04-01","open":45.51,"close":50.35,"high":51.56,"low":44.68,"volume":43690205},{"date":"2020-05-01","open":49.49,"close":52.8,"high":53.31,"low":48.31,"volume":31227651},{"date":"2020-06-01","open":53.27,"close":54.52,"high":57.31,"low":52.79,"volume":37624448},{"date":"2020-07-01","open":54.57,"close":56.82,"high":58.54,"low":54.57,"volume":35343765},{"date":"2020-08-01","open":57.[...]
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/SCHZ/open-close?end_date=2024-09-29&interval=month&limit=500&start_date=2020-01-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"[...]
