---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/AGG/open-close?end_date=2024-09-29&interval=month&limit=500&start_date=2020-01-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"07ed615c9cf3d1498c8ef801fea57e1b"
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"AGG","prices":[{"date":"2020-02-01","open":114.2,"close":116.22,"high":116.34,"low":113.76,"volume":126899769},{"date":"2020-03-01","open":116.29,"close":115.37,"high":119.27,"low":105.56,"volume":309747824},{"date":"2020-04-01","open":115.38,"close":117.1,"high":117.62,"low":114.28,"volume":135731687},{"date":"2020-05-01","open":116.97,"close":117.65,"high":117.71,"low":116.07,"volume":110462862},{"date":"2020-06-01","open":117.35,"close":118.21,"high":118.32,"low":116.48,"volume":113175328},{"date":"2020-07-01","open":117.9,"close":119.56,"high":119.63,"low":117.76,"volume":122569133},{"date[...]
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/SCHB/open-close?end_date=2024-09-29&interval=month&limit=500&start_date=2020-01-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"[...]
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/SCHZ/open-close?end_date=2024-09-29&interval=month&limit=500&start_date=2020-01-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"[...]
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/IXUS/open-close?end_date=2024-09-29&interval=month&limit=500&start_date=2020-01-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_marketing
      X-Source-Type:
      - api
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"[...]
