<section class="relative p-4">
  <p class="text-sm text-gray-500">
    The total value of investments after <%= number_with_precision(tool.years_to_grow, precision: (tool.years_to_grow % 1 == 0 ? 0 : 1)) %> years
  </p>
  <p class="text-3xl font-medium"><%= number_to_currency(tool.total_value) %></p>

  <%= tag.div class: "h-96 mt-6", data: {
        controller: "time-series-two-lines-chart",
        time_series_two_lines_chart_series_value: tool.legend_data.to_json,
        time_series_two_lines_chart_data_value: tool.plot_data.to_json } %>
</section>
