<div class="flex flex-col lg:grid lg:grid-cols-3 p-2 bg-white border shadow-xs rounded-xl gap-4 lg:gap-0">
  <aside class="bg-gray-25 p-4 rounded-lg flex flex-col gap-4 lg:col-span-1">
    <%= render "tools/widgets/forms/401k_retirement_calculator", tool: tool, frame_id: :retirement_results %>
  </aside>

  <div class="lg:col-span-2 lg:ml-6">
    <%= turbo_frame_tag :retirement_results do %>
      <div class="flex-1">
        <% if tool.blank? %>
          <%= render "tools/widgets/shared/blank_slate", text: "Enter your details to see how your 401k can grow over time and secure retirement!" %>
        <% else %>
          <%= render "tools/widgets/content/401k_retirement_calculator", tool: tool %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
