<div class="grid grid-cols-1 p-2 bg-white border shadow-xs sm:grid-cols-3 rounded-xl">
  <aside class="bg-gray-25 p-4 rounded-lg flex flex-col gap-4 col-span-1">
    <%= render "tools/widgets/forms/bogleheads_growth_calculator", tool: tool, frame_id: :bogleheads_results %>
  </aside>

  <div class="col-span-2">
    <%= turbo_frame_tag :bogleheads_results do %>
      <div class="flex-1">
        <% if tool.blank? %>
          <%= render "tools/widgets/shared/blank_slate", text: "Enter your details to see how your three-fund portfolio performed the last 25 years!" %>
        <% else %>
          <%= render "tools/widgets/content/bogleheads_growth_calculator", tool: tool %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
