<div class="max-w-3xl mx-auto text-center">
  <div class="flex flex-col gap-y-1">
    <div class="flex items-center justify-center gap-x-2">
      <h1 class="text-3xl font-medium tracking-tight">Maybe Articles</h1>
      <%= image_tag("icon-articles.svg", alt: "Articles", class: "inline") %>
    </div>
    <p class="text-sm text-neutral-400">Thoughts and insights around personal finance.</p>
  </div>
</div>
