<div class="max-w-[1100px] mx-auto text-center">
  <div class="flex flex-col gap-y-1">
    <div class="flex items-center justify-center gap-x-2">
      <h1 class="text-3xl font-medium tracking-tight">Dictionary</h1>
      <%= image_tag("icon-term.svg", alt: "Dictionary", class: "inline") %>
    </div>
    <p class="max-w-[360px] mx-auto text-center text-sm text-neutral-400">The A-Z of every finance, crypto or money related term you can possibly think of.</p>
  </div>

  <%= form_with( url: signups_path ) do |f| %>
    <div class="max-w-[400px] mx-auto flex flex-row w-full p-1 mt-8 mb-4 bg-white border shadow-xs rounded-xl">
      <%= image_tag("icon-search.svg", alt: "Search", class: "inline pl-2") %>
      <%= f.email_field :email, placeholder: "Search for any term", class: "flex-1 border-0 px-2 focus:ring-0 text-sm" %>
    </div>
  <% end %>

  <div class="flex justify-center gap-x-2">
    <a href="#numeric" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">#</a>
    <a href="#terms-a-b" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">A - B</a>
    <a href="#terms-c-d" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">C - D</a>
    <a href="#terms-e-f" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">E - F</a>
    <a href="#terms-g-h" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">G - H</a>
    <a href="#terms-i-j" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">I - J</a>
    <a href="#terms-k-l" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">K - L</a>
    <a href="#terms-m-n" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">M - N</a>
    <a href="#terms-o-p" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">O - P</a>
    <a href="#terms-q-r" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">Q - R</a>
    <a href="#terms-s-t" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">S - T</a>
    <a href="#terms-u-v" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">U - V</a>
    <a href="#terms-w-x" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">W - X</a>
    <a href="#terms-y-z" class="max-w-auto px-3 py-[0.45rem] text-sm font-medium text-black bg-neutral-900 rounded-xl hover:bg-neutral-200/50 bg-transparent border border-neutral-300 hover:border-neutral-300 flex items-center gap-2">Y - Z</a>
  </div>
</div>
