<div class="flex flex-col justify-center items-center gap-5">
  <%= link_to "Get started", "#", class: "w-fit px-3 py-[0.45rem] text-sm font-medium text-white text-center justify-center bg-gray-900 rounded-xl hover:bg-gray-800 border border-gray-900 flex shadow-btn-dark-inset-1 shadow-btn-dark-inset-2 shadow-btn-dark-inset-3" %>
  <p class="text-sm leading-[1.125rem] text-gray-400">You can also <a href="https://github.com/maybe-finance/maybe" class="text-gray-900 underline">self-host</a> maybe.</p>
</div>
</div>
