<div class="text-center overflow-hidden mb-[8rem]">
  <div class="mx-auto max-w-96">
    <%= image_tag("maybe-logo-glow-4x.png", alt: "Maybe Logo", style:"width: 115px; margin-left: -22px;", class: "inline") %>
    <h2 class="text-gray-700 font-medium leading-[1.1] text-5xl tracking-[-0.05] max-w-xl mb-2">
      Turn your maybe, </br> into a sure thing
  </h2>
  <p class="text-gray-500 mb-4 leading-[1.4]">Start taking control of your money today.</p>
  <%= render "shared/cta_header" %>
</div>
</div>
