<div class="text-center mt-20 overflow-hidden border-b">
  <div class="mx-auto max-w-96 space-y-4">
    <h2 class="max-w-xl text-3xl">
      Join the Maybe <%= image_tag("icon-maybe-color.svg", alt: "Maybe Logo", class: "inline") %> waitlist
    </h2>
    <p class="text-gray-500">Join the waitlist to get notified when a hosted version of the app is available.</p>
    <div><%= render_signup_form %></div>
  </div>
  <div class="max-w-2xl p-1 mx-auto my-10 bg-black/[0.02] rounded-xl border border-black/1 shadow-[0px_0px_22.07px_0px_rgba(0,0,0,0.03)] max-h-80 -mb-28">
    <%= image_tag "screenshot.png", alt: "Maybe Screenshot", class: "w-full border border-black/1 rounded-lg shadow-[0_7.36px_7.36px_-3.68px_rgba(11,11,11,0.03)] shadow-[0_18.39px_22.07px_-3.68px_rgba(11,11,11,0.08)]" %>
  </div>
</div>
