<%# locals: (section_name: '') %>
<div class="flex items-center">
  <span class="pr-3 text-base font-medium text-gray-900"><%= section_name %></span>
  <hr class="flex-grow border-t border-black opacity-10">
</div>