development:
  adapter: redis
  url: redis://localhost:6379/1

test:
  adapter: test

production:
  adapter: redis
  url: <%= ENV.fetch("REDIS_QUEUE_URL") { "redis://localhost:6379/1" } %>
  channel_prefix: maybe_marketing_production
