@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-field {
    @apply relative border border-alpha-black-100 bg-white rounded-md shadow-xs;
    @apply focus-within:shadow-none focus-within:border-gray-900 focus-within:ring-4 focus-within:ring-gray-100;
  }

  .form-field__label {
    @apply px-3 pt-2 pb-0 block text-xs text-gray-500;
  }

  .form-field__input {
    @apply px-3 pb-2 pt-1 text-sm w-full bg-transparent border-none opacity-100;
    @apply focus:outline-none focus:ring-0 focus:opacity-100;
    @apply placeholder-shown:opacity-50;
    @apply disabled:opacity-50;
  }

  .form-field__radio {
    @apply text-gray-900;
  }

  .form-field__submit {
    @apply w-full p-3 text-center text-white bg-black rounded-lg cursor-pointer hover:bg-gray-700;
  }

  input[type="range"][data-controller*="range-input"] {
    @apply block relative h-2 my-[9px] appearance-none border-none outline-none bg-gray-100 rounded-full;
    @apply bg-gray-100 bg-gradient-to-r bg-no-repeat;
    background-size: var(--range-before-width, 0) 100%;
  }

  input[type="range"][data-controller*="range-input"]::-webkit-slider-runnable-track {
    @apply w-full h-full;
  }

  input[type="range"][data-controller*="range-input"]::-webkit-slider-thumb {
    @apply relative appearance-none h-5 w-5 rounded-full bg-white border border-solid border-alpha-black-100 shadow-sm cursor-pointer top-[-6px];
  }

  input[type="range"][data-controller*="range-input"]::-moz-range-thumb {
    @apply relative appearance-none h-5 w-5 rounded-full bg-white border border-solid border-alpha-black-100 shadow-sm cursor-pointer top-[-6px];
  }
}
